/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/09/2021, 14:38:05
    Author     : nroda
*/

#AA{
    background-color: blue;
    color: white;
    text-align: center;
}
#AV{
    background-color: greenyellow;
    color: white;
    text-align: center;
}
#AF{
    background-color: brown;
    color: white;
    text-align: center;
}
#NN{
    background-color: red;
    color: white;
    text-align: center;
}